/* global */
.animation-btn {
  display: flex;
  background-size: 201% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  width: 155px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.animation-btn.yellow {
  display: flex;
  background: linear-gradient(to right, #000 50%, #ffb740 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  width: 155px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.animation-btn.red {
  display: flex;
  background: linear-gradient(to right, #fff 50%, #95222e 50%);
  background-size: 201% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  width: 155px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.animation-btn.white {
  display: flex;
  background: linear-gradient(to right, #95222e 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  width: 169px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #95222e;
}
.animation-btn a,
.animation-btn button {
  display: flex;
  text-decoration: none;
  color: #000;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 14px 16px;
}

.animation-btn.red a,
.animation-btn.red button {
  color: #fff;
}

.animation-btn:hover {
  background-position: left bottom;
}
.animation-btn:hover a,
.animation-btn:hover button {
  color: #fff;
}

.animation-btn.red:hover a,
.animation-btn.red:hover button {
  color: #000;
}

.animation-btn:hover svg,
.animation-btn:hover svg path,
.animation-btn.red svg,
.animation-btn.red svg path {
  stroke: #fff;
}

.animation-btn.red:hover svg,
.animation-btn.red:hover svg path {
  stroke: #000;
}

.animation-btn .arrow-svg-wrapper {
  display: flex;
}
.animation-btn.white .btn-text {
  color: #95222e;
}
.animation-btn.white svg path {
  stroke: #95222e;
}
.animation-btn.white:hover .btn-text {
  color: #fff;
}
.animation-btn.white:hover svg path {
  stroke: #fff;
}
main#MainContent {
  margin-top: 112px;
}
@media (min-width: 768px) {
  main#MainContent {
    margin-top: 63px;
  }
  .container.category-page {
    max-width: 1208px;
  }
}
/* global */

/* header style start */
.main {
  width: 100%;
  background: #95222e;
  position: fixed;
  top: 0;
  z-index: 10;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
div.top-bar {
  height: 48px;
  display: block;
  border-bottom: 1px solid #731e27;
  background: #731e27;
}
.header-wrapper-custom {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 64px;
}
.header-icons-list {
  display: flex;
  gap: 16px;
  align-items: center;
}
.hamb-logo-wrapper {
  display: flex;
  gap: 25px;
}
.hamburder-svg,
.logo,
.search-svg,
.cart-svg {
  display: flex;
}
.logo-svg {
  display: flex;
  width: 74px;
  height: 35px;
}
.logo-svg svg {
  width: 100%;
  height: 100%;
}
.cart-svg svg,
.search-svg svg {
  width: 24px;
  height: 24px;
}
.logo {
  position: relative;
}
div.logo a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

/* desktop style */

@media (min-width: 768px) {
  .header-manu-wrapper {
    display: flex;
    gap: 16px;
  }
  .top-level-item a {
    font-family: Cabin;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
  }
  .top-level-item {
    position: relative;
    display: flex;
    gap: 8px;
  }
  .dropdown-svg {
    display: flex;
    width: 16px;
    height: 16px;
  }
  .sub-menu {
    position: absolute;
    top: 15px;
    left: 0;
    background: #fff;
    width: 175px;
    border-radius: 4px;
    display: none;
  }
  .sub-menu-item {
    display: flex;
  }
  .sub-menu-item a {
    color: #95222e;
    padding: 8px;
    width: 100%;
    font-family: Cabin;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
  }
  .sub-menu-item:hover {
    background-color: #95222e;
  }
  .sub-menu-item:hover a {
    color: #fff;
  }
  .top-level-item.has-submenu:hover .sub-menu {
    display: block;
  }
}
/* desktop style ends */

/* header style end */

/* hero style */
.hero-main {
  width: 100%;
}
.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 100%;
  max-width: 1400px;
  transform: translateX(-50%);
  padding: 20px;
}
.hero-content-wrapper h2 {
  font-family: Capriola;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin: 0;
  margin-bottom: 8px;
}
.hero-content-wrapper p {
  font-family: Cabin;
  font-size: 19px;
  font-weight: 500;
  line-height: 22.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
}
.hero-image-wrapper picture {
  display: flex;
}
/* desktop style */
@media (min-width: 768px) {
  .hero-content-wrapper {
    padding: 46px 20px;
    bottom: 52px;
  }
  .hero-content-wrapper h2 {
    color: #21231d;
  }
  .hero-content-wrapper p {
    margin-bottom: 46px;
    color: #21231d;
  }
}
@media (min-width: 1420px) {
  .hero-content-wrapper {
    padding: 46px 0;
  }
}
/* desktop style end */

/* hero style end */

/* info card style start */
.info-card img {
  width: 64px;
  height: 64px;
}
.icon-card-main {
  width: 100%;
  background: #f3e9b9;
}
.info-card {
  width: 278px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding: 32px 16px;
}
.info-card h3 {
  margin: 0;
  font-family: Capriola;
  font-size: 19px;
  font-weight: 400;
  line-height: 22.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.info-card p {
  margin: 0;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
/* desktop style start */
/* desktop style ends */
/* info card style end */

/* bestseller style start */
.bestSeller-main {
  width: 100%;
  padding: 32px 0;
}
.bestSeller-header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 32px;
  align-items: center;
}
.bestSeller-heading {
  max-width: 144px;
}
.bestSeller-heading h3 {
  font-family: Capriola;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  margin: 0;
}

#tabbed-products-section .tabs {
  display: flex;
  justify-content: space-around;
}
div#tabbed-products-section {
  padding: 0 20px;
}

#tabbed-products-section .tab-link {
  background: none;
  border: none;
  transition: color 0.3s;
  flex: 1;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
button.tab-link .tab-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
button.tab-link.active .tab-icon {
  background-color: #95222e;
}

#tabbed-products-section .tab-link.active {
  color: #95222e;
  position: relative;
}
#tabbed-products-section button.tab-link.active:after {
  content: '';
  border-bottom: 4px solid #95222e;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 4px;
}
button.tab-link.active svg path {
  stroke: #fff;
}

#tabbed-products-section .tab-panel {
  display: none;
}

#tabbed-products-section .tab-panel.active {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 32px;
}
.tab-panel.active .product {
  flex: 1 1 calc(50% - 12px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tab-content img {
  aspect-ratio: 165/220;
  object-fit: cover;
}
.tab-content h3 {
  margin: 0;
  font-family: Capriola;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.tab-content p {
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  margin: 0;
}
button.tab-link.active .tab-text {
  padding-bottom: 12px;
}
.tab-content a {
  display: none;
}
/* desktop style */
@media (min-width: 768px) {
  .bestSeller-main {
    padding-bottom: 60px;
  }
  .bestSeller-heading {
    max-width: 100%;
  }
  .bestSeller-heading h3 {
    font-size: 33px;
    line-height: 39.6px;
  }
  #tabbed-products-section .tab-link {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 17px;
  }
  #tabbed-products-section button.tab-link.active:after {
    position: absolute;
    bottom: 0;
  }
  #tabbed-products-section .tab-panel.active {
    flex-wrap: nowrap;
    padding: 32px 20px;
  }
  .tab-content h3 {
    font-size: 23px;
    line-height: 27.6px;
  }
  .tab-content p {
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
  }
  button.tab-link.active .tab-text {
    padding-bottom: 0;
  }
  button.tab-link .tab-icon {
    width: 44px;
    height: 44px;
  }
  #tabbed-products-section .tab-link {
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    padding-bottom: 17px;
  }
  span.tab-icon svg {
    width: 24px;
    height: 24px;
  }
  .tab-content a {
    width: 100%;
    height: 56px;
    background: #95222e;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: center;
  }
}

/* desktop style ends */

/* bestseller style end */

/* footer style */
.footer-main {
  width: 100%;
}
.footer-wrapper {
  padding: 28px 24px 28px 24px;
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.footer-about-block {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-menu-block,
.footer-contact-block {
  flex: 0 0 calc(50% - 16px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-block-header h3 {
  font-family: Capriola;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin: 0;
}
.footer-social-icon-list {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
}
.footer-contact-header h4 {
  font-family: Capriola;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin: 0;
}
.footer-contact-block a {
  font-family: Cabin;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: #fff;
}
.copyright-wrapper p {
  margin: 0;
  font-family: Capriola;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}
ul.footer-menu {
  padding: 0;
  list-style: none;
  margin: 0;
}
li.footer-menu__item a {
  font-family: Cabin;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: #fff;
}
.footer-bottom {
  border-top: 1px solid #f3e9b9;
  margin-top: 20px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-svg {
  width: 138px;
  height: 64px;
}
.footer-svg svg {
  width: 100%;
  height: 100%;
}
/* desktop style */
@media (min-width: 768px) {
  .footer-wrapper {
    padding: 32px 20px;
  }
  .footer-top {
    padding-bottom: 130px;
  }
  .footer-bottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
  }
  .footer-svg {
    width: 103px;
    height: 48px;
  }
}
@media (min-width: 1024px) {
  .footer-about-block {
    flex: 0 0 calc(50% - 16px);
  }
  .footer-menu-block,
  .footer-contact-block {
    flex: 0 0 calc(15% - 16px);
  }
}

/* desktop style end */
/* footer style end */

/* image carousel style start */
.image-carousel-main {
  width: 100%;
}
.image-carousel-top-heading {
  background: #320707;
  padding: 32px 20px 80px;
}
.image-carousel-top-heading h3 {
  margin: 0;
  font-family: Capriola;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}
.image-carousel-bottom-bar {
  padding: 20px 20px 32px;
  background: #320707;
}
.image-carousel-bottom-bar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.carousel-bottom-heading h3 {
  font-family: Capriola;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin: 0;
}
.image-carousel-bottom-bar a {
  font-family: Cabin;
  font-size: 11.61px;
  font-weight: 600;
  line-height: 13.93px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.image-carousel-bottom-bar .arrow-svg-wrapper svg {
  width: 17px;
  height: 17px;
}
.image-carousel-bottom-bar .animation-btn.yellow {
  width: 140px;
  height: 40px;
  border-radius: 5.8px;
}
.image-carousel-bottom-bar .arrow-svg-wrapper svg path {
  stroke: #000;
}
.image-carousel-bottom-bar .animation-btn:hover svg path {
  stroke: #fff;
  fill: #000;
}
.image-carousel-slide picture {
  display: flex;
}
.image-carousel-wrapper .dots {
  display: none;
}
.image-carousel-bottom-bar {
  padding: 80px 16px 32px;
  background: #320707;
}
/* desktop style */
@media (min-width: 768px) {
  .image-carousel-top-bar {
    background: #320707;
  }
  .image-carousel-top-heading h3 {
    text-align: center;
  }
  .image-carousel-top-heading,
  .image-carousel-bottom-bar {
    padding: 32px 16px;
  }
  .image-carousel-wrapper .dots {
    display: flex;
    justify-content: center;
    bottom: -70px;
  }
  .image-carousel-wrapper .dots .dot.dot--active {
    background: #fff;
  }
  .image-carousel-wrapper .dots .dot {
    border: 1px solid #fff;
  }
  .carousel-bottom-heading h3 {
    font-size: 33px;
    line-height: 39.6px;
  }
  .image-carousel-bottom-bar > div {
    padding: 0 20px;
  }
}
@media (min-width: 1420px) {
  .image-carousel-bottom-bar > div {
    padding: 0 40px;
  }
}
/* desktop style end */
/* image carousel style ends */

/* image gallery style start */
.image-gallery-main {
  width: 100%;
  padding: 80px 0px 16px;
}
.image-gallery-inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.image-gallery-header h2 {
  font-family: Capriola;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #fff;
}
.image-gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}
.image-gallery-slide img {
  display: flex;
  object-fit: contain;
  object-position: center;
}
.image-gallery-wrapper > div {
  transform: translateX(-20px);
}
.image-gallery-wrapper .keen-slider {
  overflow: visible;
}
/* desktop style */
@media (min-width: 768px) {
  .image-gallery-wrapper .keen-slider {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .image-gallery-main {
    padding-bottom: 0;
  }
  .image-gallery-header h2 {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
}
/* desktop style ends */
/* image gallery style end */

/* redirection tabs style */
.redirection-tab-main {
  width: 100%;
}
.redirection-tab-buttons-wrapper {
  padding: 20px;
  display: flex;
}
a.redirection-tab-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 8px;
  text-decoration: none;
  border-bottom: 1px solid #21231d80;
}
span.tab-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
span.tab-icon svg {
  width: 17px;
  height: 17px;
}
a.redirection-tab-button .tab-text {
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;
}
a.redirection-tab-button.active span.tab-icon {
  background: #95222e;
}
a.redirection-tab-button.active span.tab-text {
  color: #95222e;
}
a.redirection-tab-button.active svg path {
  stroke: #fff;
}
a.redirection-tab-button.active:after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 8px 8px 0px 0px;
  background: #95222e;
}
.caregory-title-wrapper {
  padding: 40px 20px 10px;
}
.caregory-title-wrapper h1 {
  margin: 0;
  font-family: Capriola;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
}
/* desktop style */

@media (min-width: 768px) {
  a.redirection-tab-button {
    position: relative;
    padding-bottom: 17px;
    flex-direction: row;
    justify-content: center;
    gap: 17px;
  }
  a.redirection-tab-button.active:after {
    position: absolute;
    bottom: 0;
  }
  .redirection-tab-buttons-wrapper {
    padding-bottom: 48px;
  }
}
/* desktop style end */
/* redirection tabs style end */

/* featured product new style start */
.featured-pro-wrapper {
  margin: 0 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.featured-pro-title-wrapper {
  margin-left: 20px;
  padding-top: 20px;
  width: 100%;
  max-width: 200px;
}
.featured-pro-title {
  font-family: Capriola;
  font-size: 33px;
  font-weight: 400;
  line-height: 39.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.featured-pro-desc p {
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}
.featured-pro-image-wrapper picture {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}
.featured-pro-btn-wrapper .animation-btn {
  width: 200px;
  height: 45px;
  margin-left: 20px;
}
.featured-pro-list {
  margin-left: 20px;
  padding: 32px 0;
}
.featured-pro-type p {
  margin: 0;
  font-family: Capriola;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: capitalize;
}
.featured-pro-price-wrapper {
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.featured-pro-atc-wrapper button {
  width: 100%;
  padding: 14px 16px;
  border-radius: 8px;
  background: none;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
}
.featured-pro-type,
.featured-pro-price-wrapper,
.featured-pro-atc-wrapper {
  padding-top: 8px;
}
.featured-pro-card-image {
  display: flex;
}
.featured-pro-btn-wrapper {
  width: max-content;
  margin-top: 20px;
}
/* desktop */
@media (min-width: 768px) {
  .featured-pro-slider.keen-slider {
    gap: 16px;
  }
  .featured-pro-list {
    margin: 32px 20px;
    padding: 0;
  }
  .featured-pro-image-wrapper picture {
    position: static;
  }
  .featured-pro-image-wrapper img {
    object-fit: cover;
    object-position: right;
  }
  .featured-pro-content {
    display: flex;
    gap: 22px;
  }
  .featured-pro-image-wrapper {
    display: flex;
    margin-top: 32px;
  }
  .featured-pro-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .featured-pro-btn-wrapper {
    margin-top: 0;
    margin-right: 20px;
  }
  .featured-pro-title-wrapper {
    max-width: 100%;
  }
  .featured-pro-content.right {
    flex-direction: row-reverse;
  }
  .featured-pro-content.right .featured-pro-image-wrapper img {
    object-position: left;
  }
}
/* featured product new style end */

/* hide css */
.desktop,
div.desktop {
  display: none;
}

@media (min-width: 768px) {
  .mobile,
  div.mobile {
    display: none;
  }
  .desktop,
  div.desktop {
    display: block;
  }
}

/* hide css ends */
